{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MoviesHub</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="{% static '/CSS/main.css' %}" rel="stylesheet">
</head>
<body>


  <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="{% static 'images/logo.png class=' %}" class="w-100"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          <li class="nav-item">
            <a class="nav-link" href="credential/logout">Home</a>
          </li>
          
          
          <li class="nav-item">
            <a class="nav-link" href="#">sports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Activities</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Language
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">English</a></li>
              <li><a class="dropdown-item" href="#">Hindi</a></li>  
              <li><a class="dropdown-item" href="#">Telugu</a></li>
              <li><a class="dropdown-item" href="#">Kannada</a></li>  
              <li><a class="dropdown-item" href="#">Tamil</a></li>
              <li><a class="dropdown-item" href="#">Malayalam</a></li>
             
            </ul>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search for movies,Events,spots and Activities" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      <ul class="nav nav-pills">
        {% if user.is_authenticated %}

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="credential/logout">Logout</a>
        {% else %}
          <li class="nav-item">
            <a class="nav-link active me-3" aria-current="page" href="credential/Register">Register</a>
          </li>
        
          <li class="nav-item">
            <a class="nav-link active me-3" aria-current="page" href="credential/Login">Login</a>
        {% endif %}
      </ul>
      </div>
    </div>
  </nav>

{% comment %} slideimage {% endcomment %}
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'images/slide_web.avif' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/slide3webpage.avif' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/side2_sunburncolombowebshowcase1240x300.avif' %}" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  {% comment %} MovieSection {% endcomment %}

  

<div class="container">
   <div class="row">
    <h3 class="hd1 my-3 ">Reccomended Movies</h3>
    {% for i in Movies  %}

    <div class="col-lg-3 col-md-4 col-sm-6 my-3">

      <img src="{{i.photo.url}}" class="w-100" height="381px" alt="kathal">
      <h3>{{i.name}}</h3>
      <h5><i class="bi bi-star-fill"></i>{{i.rate}}</h5>
      <p></p>

    </div> 
    {% endfor %} 
  </div>


</div>
    
{% comment %} End page{% endcomment %}

<div class="container-fluid">
 <div class="row">
  {% for i in Promo %}
   <div class="col-lg">
      <img src="{{i.photo.url}}" class="w-100" height="500px" >
   </div>
   {% endfor %}

 </div>

</div>
  
 

    

  




  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  
</body>
</html>