 .d-flex{padding-right: 50%;} 
.bi{color: goldenrod;}
.img1{padding-right: 20px;}
.hd1{color: rgb(239, 103, 103);}
.reg1{padding-top: 50px;}
.hd2{padding-left: 50%;}
.bt1{background-color: rgb(94, 116, 204);font-size: 20px;color: aliceblue;width: 150px;border-color: aliceblue;}
.divbt{padding-left: 220px;}

*{margin: 0;
  padding: 0;
}
 

.parant{
        position: relative;
        height: 60vh;
        width: 100%;
       }

 .parant .img_1{
        height: 60vh;
        width: 100%;
        background-image: linear-gradient(90deg, #1A1A1A 24.97%, #1A1A1A 38.3%, rgba(26, 26, 26, 0.0409746) 97.47%, #1A1A1A 100%),
}

.child{
    position: absolute;
    top: 15%;
    left: 20%;
    height: 200px;
    width: 150px;
}
.child img{
    height: 400px;
    width: 250px;
}

.child_1{
    position: absolute;
    top: 15%;
    left: 36%;
    height: 100vh;
    width: 100vh;
    
}


.hd_1{color: aliceblue;padding: 5px;}
.hd_2{ color: aliceblue;padding: 5px;}
.hd_3{color: aliceblue;padding: 5px;}
.div_3{position: absolute;
       top:13.5%;
       left:33%;}
.bi-star-fill{color: rgb(211, 138, 48);
              padding-right: 5px;}

.hd_4{color: aliceblue;}
.div_4{padding-top: 30px;}
.div_5{position: absolute;top:-6%;right: -6%;}


  